
.ractive-select
    position relative
    cursor default
    user-select none
    padding 0 0.3em

    .arrows
        display inline-block
        vertical-align middle
        position absolute
        right 0

        &:before, &:after
            content ''
            display block
            border 2px solid transparent
            margin 4px 0 4px 4px

        &:before
            border-bottom-color currentColor

        &:after
            border-top-color currentColor

    .dropdown
        position absolute
        top 100%
        left 0
        right 0

        cursor default

        z-index 10

        background #fff
        border 1px solid #f0f0f0 
        box-shadow 0 3px 3px rgba(0, 0, 0, 0.07)

    option
        padding 0.3em
        &:hover
            background #f0f0f0



