
.ractive-select
    display inline-block
    position relative
    cursor default
    user-select none
    padding 0 0.3em
    overflow hidden
    vertical-align sub
    white-space nowrap

    &, *, *:before, *:after
        box-sizing border-box

    label
        vertical-align middle
        display inline-block

    .arrows
        display inline-block
        vertical-align middle
        float right
        margin-left 0.5em

        &:before, &:after
            content ''
            display block
            border 0.25em solid transparent

        &:before
            border-bottom-color currentColor
            margin-bottom 5px

        &:after
            border-top-color currentColor

    .dropdown

        margin 2px 0 0 0 // for user-agent ul styles

        background #fff
        color #333
        box-shadow 0 3px 9px rgba(0, 0, 0, 0.4)

        border-radius 3px
        padding (@border-radius - 1px) 0

        cursor default

        list-style none

        z-index 50

        max-height 400px
        overflow-y scroll


    li
        padding 0.3em 0.5em 0.3em 1.5em
        border-top 1px solid transparent
        border-bottom 1px solid transparent
        white-space nowrap

        &[selected]
            padding 0.3em 0.5em

        .checkmark
            margin-right 0.2em
            &:before
                content '✓'


        &:hover, &.selecting
            background linear-gradient(#3D96F5, #0D7CF2)
            color #fff
            border-top-color #0A63C2
            border-bottom-color #004A99



#ractive-select-dropdown-container
    .dropdown
        position fixed
        left -9999px
