
.ractive-select
    display inline-block
    position relative
    cursor default
    user-select none
    padding 0 0.3em
    line-height 1

    label
        margin-right 0.5em

    .arrows
        display inline-block
        vertical-align middle
        position absolute
        right 0.3em
        top 50%
        transform translate(0, -50%)

        &:before, &:after
            content ''
            display block
            border 0.25em solid transparent

        &:before
            border-bottom-color currentColor
            margin-bottom 3px

        &:after
            border-top-color currentColor

    .dropdown
        position absolute
        top 100%
        left -10px
        right 0
        margin 2px 0 0 0 // for user-agent ul styles

        background #fff
        color #333

        border-radius 3px
        padding (@border-radius - 1px) 0

        cursor default
        display none

        list-style none

        z-index 10

        box-shadow 0 3px 9px rgba(0, 0, 0, 0.4)

        &.open
            display block


    li
        padding 0.3em 0.5em 0.3em 1.5em
        border-top 1px solid transparent
        border-bottom 1px solid transparent
        white-space nowrap

        &[selected]
            padding 0.3em 0.5em

        .checkmark
            margin-right 0.2em
            &:before
                content '✓'


        &:hover
            background linear-gradient(#3D96F5, #0D7CF2)
            color #fff
            border-top-color #0A63C2
            border-bottom-color #004A99



